{% extends "BlogBundle::base.html.twig" %}

{% block title %}Article:list{% endblock %}

{% block content %}
<h1>Список статтей</h1>
    <span>Статьи отсортированы:
        {% set sort = app.request.get('sort') %}
        {% if (("newest" == sort) or (sort is empty)) %}
            По новизне
        {% else %}
            <a href="{{ path('blog_list_articles') }}?sort=newest">По новизне</a>
        {% endif %}
            /
        {% if ("popular" == sort) %}
            По количеству просмотров
        {% else %}
            <a href="{{ path('blog_list_articles') }}?sort=popular">По количеству просмотров</a>
        {% endif %}
        </span>

    {% for article in articles %}
        <li class="list-unstyled">
            <a href="/article/{{ article.slug }}">
                <h3>{{ article.title|title }}</h3>
            </a>
            <div class="well">{{ article.content|striptags|replace({'&nbsp;': " "})|sentencesLimit(2) }}</div>
            {% if is_granted("ROLE_ADMIN") %}
                <div class="bs-callout bs-callout-warning admin-links">
                    <a href="{{ path('blog_edit_article', {'slug': article.slug}) }}" class="btn btn-info btn-xs">Edit</a>
                    <a href="{{ path('blog_delete_article', {'slug': article.slug}) }}" class="pull-right btn btn-danger btn-xs" onclick="return confirm('Are you sure?')" >Delete</a>
                </div>
            {% endif %}
        </li>

    {% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}