{% extends "BlogBundle::base.html.twig" %}

{% block title %}Article:list{% endblock %}

{% block header_script %}
    <script>var ajaxurl='{{ path('blog_list_more_articles') }}',
                isNextPage={{ isNextPage ?: 0 }};</script>
{% endblock %}

{% block content %}
<h1>Список статтей</h1>
    <span>Статьи отсортированы:
        {% set sort = app.request.get('sort') %}
        {% if (("newest" == sort) or (sort is empty)) %}
            По новизне
        {% else %}
            <a href="{{ path('blog_list_articles') }}?sort=newest">По новизне</a>
        {% endif %}
            /
        {% if ("popular" == sort) %}
            По количеству просмотров
        {% else %}
            <a href="{{ path('blog_list_articles') }}?sort=popular">По количеству просмотров</a>
        {% endif %}
    </span>

    <ul class="articles-list">
        {% include 'BlogBundle:Article:list_li.html.twig' %}
    </ul>
    <div>
        <button class="btn btn-primary show-more" style="margin-left: 45%;" data-page="1">Show more</button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/blog/js/list.js') }}"></script>
{% endblock %}