{% extends "BlogBundle::base.html.twig" %}

{% block title %}Search{% endblock %}

{% block header_script %}
    <script>var ajaxurl='{{ path('blog_list_more_articles') }}',
                isNextPage={{ isNextPage ?: 0 }};</script>
{% endblock %}

{% block content %}
<h1>Результаты поиска по запросу: "{{ search }}"</h1>
    {% if articles is not empty %}
    <ul class="articles-list">
        {% include 'BlogBundle:Article:list_li.html.twig' %}
    </ul>
    <div>
        <button class="btn btn-primary show-more" style="margin-left: 45%;" data-page="1">Show more</button>
    </div>
    {% else %}
        <p>{{ 'No results'|trans }}</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/blog/js/list.js') }}"></script>
{% endblock %}