{% extends "BlogBundle::base.html.twig" %}

{% block title %}Article:view{% endblock %}

{% block header_script %}
    <script>var ajaxurl='{{ path('blog_list_more_comments', {'slug': article.slug }) }}',
                isNextPage={{ isNextPage|default(false) ?: 0 }};</script>
{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>
    <div class="row panel panel-default">
        <div class="panel-heading">
            <span>{{ article.createdAt|date("d.m.Y") }}</span>
        </div>
        <div class="panel-body">{{ article.content|raw }}</div>
        {% if (article.tags) %}
            <div class="panel-footer">
            {% for tag in article.tags|keys  %}
                {# todo links on search by #}
                <span class="label label-info"><a href="#">{{ tag }}</a></span>
            {% endfor %}
            </div>
        {% endif %}
    </div>
    {% if is_granted("ROLE_ADMIN") %}
        <div class="row bs-callout bs-callout-warning admin-links">
            <a href="{{ path('blog_edit_article', {'slug': article.slug}) }}" class="btn btn-info btn-xs">Edit</a>
            <a href="{{ path('blog_delete_article', {'slug': article.slug}) }}" class="pull-right btn btn-danger btn-xs" onclick="return confirm('Are you sure?')" >Delete</a>
        </div>
    {% endif %}
    <div class="row">
        {% block comment_form %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') and commentForm is not defined %}
                {{ render(controller('BlogBundle:Comment:commentForm', {'article': article })) }}
            {% endif %}
        {% endblock %}
    </div>

    <div class="row">
        {% block comment_list %}
            <ul class="list-group comments-list">
                {% include('BlogBundle:Comment:list_li.html.twig') %}
            </ul>
            <div>
                <button class="btn btn-primary show-more" style="margin-left: 45%;" data-page="1">Show more</button>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/blog/js/comment-list.js') }}"></script>
{% endblock %}
