{% if comments is not empty %}
    {% for comment in comments %}
        <li class="list-group-item {% if (comment_id is defined) and (comment_id == comment.id) %}disabled{% endif %}">
            <span class="username">{{ comment.userName }}</span>
            <span class="text-muted">{{ comment.updatedAt|date('d.m.Y') }}</span>
            <p class="list-group-item-text">{{ comment.content }}</p>
            {% if is_granted("ROLE_ADMIN") or (app.user and (app.user.id == comment.userId)) %}
                <div class="admin-links">
                    <a href="{{ path('blog_article_edit_comment', {'slug': article.slug, 'comment_id': comment.id }) }}" class="btn btn-info btn-xs" rel="nofollow">Edit</a>
                    <a href="{{ path('blog_article_delete_comment', {'slug': article.slug, 'comment_id': comment.id}) }}" class="pull-right btn btn-danger btn-xs" onclick="return confirm('Are you sure?')" rel="nofollow">Delete</a>
                </div>
            {% endif %}
        </li>
    {% endfor %}
{% else %}
    <span>No comments</span>
{% endif %}
